<!-- ================= SLIDER ================= -->

<div id="offerCarousel" class="carousel slide mt-4" data-bs-ride="carousel">

  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="0" class="active"></button>

    <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="1"></button>

    <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="2"></button>
  </div>

  <!-- Slides -->
  <div class="carousel-inner">

    <!-- ================= Slide 1 ================= -->
    <div class="carousel-item active">

      <div class="d-flex align-items-center justify-content-between text-white p-4 rounded slider-box watch-slider">

        <div class="textSlider">

          <h6 class="small-title text-light">
            Best Deal Online on smart watches
          </h6>

          <h2 class="main-title">
            SMART <br>
            WEARABLE.
          </h2>

          <p class="sub-text text-light">
            UP to 80% OFF
          </p>



        </div>

        <div class="textSlider text-center">

          <img
            src="/images/image 2.png"
            class="d-block slider-image"
            alt="Smart Watch"
          >

        </div>

      </div>

    </div>



    <!-- ================= Slide 2 ================= -->
    <div class="carousel-item">

      <div class="d-flex align-items-center justify-content-between text-dark p-4 rounded slider-box home-slider">

        <div class="textSlider">

          <h6 class="small-title">
            Elegant Living Collection
          </h6>

          <h2 class="main-title">
            MODERN HOME <br>
            ESSENTIALS
          </h2>

          <p class="sub-text">
            Chairs, décor, lighting & comfort
          </p>



        </div>

        <div class="textSlider text-center">

          <img
            src="/images/—Pngtree—outdoor furniture black and white_16685080.png"
            class="d-block slider-image"
            alt="Home Essentials"
          >

        </div>

      </div>

    </div>



    <!-- ================= Slide 3 ================= -->
    <div class="carousel-item">

      <div class="d-flex align-items-center justify-content-between text-dark p-4 rounded slider-box makeup-slider">

        <div class="textSlider">

          <h6 class="small-title pink-text">
            Trending Beauty Collection
          </h6>

          <h2 class="main-title">
            BEAUTY, <br>
            STYLE & MORE
          </h2>

          <p class="sub-text">
            Makeup, skincare & trending fashion
          </p>



        </div>

        <div class="textSlider text-center">

          <img
            src="/images/—Pngtree—beauty parlour cosmetics products transparent_19799074.png"
            class="d-block slider-image"
            alt="Beauty Products"
          >

        </div>

      </div>

    </div>

  </div>


  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#offerCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#offerCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>

</div>


<!-- ================= PRODUCTS ================= -->

<div class="mt-5">
  <app-product></app-product>
</div>
