<section class="about-team">

  <h2>Meet Our Team</h2>

  <div class="team-container">

    <!-- 1 -->
    <div class="team-card">
      <div class="avatar">S</div>
      <h3>Salma Ramadan Mohamed</h3>
      <p>ID: 2200381</p>
      <span>Team Member</span>
    </div>

    <!-- 2 -->
    <div class="team-card">
      <div class="avatar">A</div>
      <h3>Aaesha Mahmod Bedair</h3>
      <p>ID: 2200510</p>
      <span>Team Member</span>
    </div>

    <!-- 3 -->
    <div class="team-card">
      <div class="avatar">M</div>
      <h3>Menna Tarik Mohamed</h3>
      <p>ID: 2200600</p>
      <span>Team Member</span>
    </div>

    <!-- 4 -->
    <div class="team-card">
      <div class="avatar">Y</div>
      <h3>Yomna Ahmed Farag Ali</h3>
      <p>ID: 2200224</p>
      <span>Team Member</span>
    </div>

    <!-- 5 -->
    <div class="team-card">
      <div class="avatar">A</div>
      <h3>Alaa Abdelhakeem Mahmoud</h3>
      <p>ID: 2200498</p>
      <span>Team Member</span>
    </div>

    <!-- Rest of Team -->

    <div class="team-card">
      <div class="avatar">M</div>
      <h3>Menna Mohamed NasrEldien</h3>
      <p>ID: 2200806</p>
      <span>Team Member</span>
    </div>

    <div class="team-card">
      <div class="avatar">F</div>
      <h3>Fatma Mohamed Hany</h3>
      <p>ID: 2200558</p>
      <span>Team Member</span>
    </div>

    <div class="team-card">
      <div class="avatar">J</div>
      <h3>Jana Wael Hassanin Fouad</h3>
      <p>ID: 2100667</p>
      <span>Team Member</span>
    </div>

    <div class="team-card">
      <div class="avatar">M</div>
      <h3>Mariam Amr Esmail Abdelmoneim</h3>
      <p>ID: 2001254</p>
      <span>Team Member</span>
    </div>

    <div class="team-card">
      <div class="avatar">N</div>
      <h3>Nada Mohamed Ibrahim</h3>
      <p>ID: 2200388</p>
      <span>Team Member</span>
    </div>

  </div>

</section>
